body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
}

a, a:active, a:focus {
    outline: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Bootstrap overrides*/

.navbar-inverse {
    background-color: #7d1935;
    border-color: #080808;
    
}

.navbar-inverse .navbar-brand {
    color: #fff;
    left: -50px;
}



    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        padding: 5px 10px 0px 10px;
    }

#pright {
    margin-right: -50px;
    padding: 10px 10px 0px 0px;
}

#button_post_add {
    background-color: #d00;
    border-radius: 0;
    border: none;
    color: #fff;
}

#right_vertical_line 
{
    border-right: solid 1px #fff;
}

