#header {
    background-color: #D5D5D5;
    margin-top: 20px;
    line-height: 100px;
    border-radius: 5px;
}

/*Caption at the bottom*/
.carousel-caption {
    
}

.categoryblock{
    margin-bottom:10px;
}

.moreitems {
    opacity: 0.5;
}