<div class="row container" id="header">
        <form class="form-inline" role="form" ng-submit="search()">
            <select class="form-control"
                    ng-model="searchItem.Id"
                    ng-options="option.Id as option.Name for option in regions"/>
            <input type="text" class="form-control" ng-model="searchItem.searchPhrase" placeholder="Looking for ....">
            <select class="form-control" 
                    ng-model="searchItem.subCategoryId"
                    ng-options="option.Id as option.Name for option in categories" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
</div>

<div class="row container">
    <h3 class="page-header">Browse Categories</h3>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-4 categoryblock" ng-repeat="category in categories|limitTo:7">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://static.pexels.com/photos/3658/street-car-power-fast-large.jpg" alt="" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>{{category.Name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 categoryblock">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://static.pexels.com/photos/3658/street-car-power-fast-large.jpg" alt="" class="img-responsive moreitems">
                        <div class="carousel-caption">
                            <h3><a href="#" class="btn btn-danger">More ...</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row container">
    <h3 class="title-3 page-header">
        Featured Listings

        <a id="nextItem" class="link  pull-right carousel-nav">
            &nbsp;  next<i class="fa fa-chevron-right"></i>
        </a>
        <span class="pull-right">|</span>
        <a id="prevItem" class="link pull-right carousel-nav">
            prev &nbsp; <i class="fa fa-chevron-left"></i>
        </a>

    </h3>
    <div class="container">
        <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false}">
            <div owl-carousel-item="" ng-repeat="featuredListing in featuredListings" class="item categoryblock">
                <div class="panel panel-default">
                    <div class="media">
                        <a class="text-center" href="#">
                            <img class="media-object img-responsive" width="100" ng-src="../uploads/{{featuredListing.Photo1}}" />
                        </a>
                    </div>
                    <div class="price" style="font-size:14px;color: crimson;width:500px;word-wrap:break-word">{{featuredListing.Price}} TShs</div>
                    <span>
                        <strong>{{featuredListing.Title}}</strong>
                    </span>
                    <span style="color:black">{{formatDateListing(featuredListing.Date)}}</span>
                </div>
            </div>
        </data-owl-carousel>

    </div>
</div>



