<div class="row">
    <form class="form-horizontal" role="form">
        <div class="row container" id="formrowid">
            <section class="form-group" id="categoryid">
                <h3>Category</h3>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <select name="CategorySelect"
                            id="category"
                            class="form-control"
                            ng-model="listing.CategoryRefId"
                            ng-change="categoryChanged()"
                            ng-options="option.Id as option.Name for option in categories"></select>
                </div>

                <div class="form-group col-xs-12 col-md-12 col-lg-12" ng-show="isCategorySelected">
                    <select name="SubCategorySelect"
                            id="subcategory"
                            class="form-control"
                            ng-model="listing.SubCategoryRefId"
                            ng-options="option.Id as option.Name for option in subcategories"></select>
                </div>

            </section>
        </div>
        <div class="row container">
            <section class="form-group" id="detailsid">
                <h3>Listing details</h3>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <input ng-model="listing.Title" type="text" class="form-control" id="title" placeholder="Enter the title of you listing" />
                </div>
                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <textarea type="text" placeholder="Description" class="form-control" id="description" rows="3" ng-model="listing.Description"></textarea>
                </div>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <input type="text" id="price" placeholder="Price" class="form-control" ng-model="listing.Price" />
                </div>
            </section>
        </div>
        <div class="row container">
            <section class="form-group" id="photosid">
                <h3>Listing Photos</h3>

            </section>
        </div>

        <div class="row container">
            <section class="form-group" id="photosid">
                <h3>My details</h3>
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Phone Number" class="form-control" />
                </div>
                <div class="form-inline">
                    <input type="text" placeholder="Password" class="form-control password" />
                    <input type="text" placeholder="Confirm Password" class="form-control password" />
                </div>
            </section>
        </div>
    </form>
</div>