<div class="row">
    <form class="form-horizontal" role="form" ng-submit="addListing()">
        <div class="row container" id="formrowid">
            <section class="form-group" id="categoryid">
                <h3 class="page-header">Category</h3>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <select name="CategorySelect"
                            id="category"
                            class="form-control"
                            ng-model="listing.CategoryRefId"
                            ng-change="categoryChanged()"
                            ng-options="option.Id as option.Name for option in categories"></select>
                </div>

                <div class="form-group col-xs-12 col-md-12 col-lg-12" ng-show="isCategorySelected">
                    <select name="SubCategorySelect"
                            id="subcategory"
                            class="form-control"
                            ng-model="listing.SubCategoryRefId"
                            ng-options="option.Id as option.Name for option in subcategories"></select>
                </div>

            </section>
        </div>
        <div class="row container">
            <section class="form-group" id="detailsid">
                <h3 class="page-header">Listing details</h3>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <input ng-model="listing.Title" type="text" class="form-control" id="title" placeholder="Title of your listing" />
                </div>
                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <textarea type="text" placeholder="Description" class="form-control" id="description" rows="3" ng-model="listing.Description"></textarea>
                </div>

                <div class="form-group col-xs-12 col-md-12 col-lg-12">
                    <input type="text" id="price" placeholder="Price" class="form-control" ng-model="listing.Price" />
                </div>
            </section>
        </div>
        <div class="row container">
            <section class="form-group" id="photosid">
                <h3 class="page-header">Listing Photos</h3>

                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image1">
                            <img class="thumbnail img-thumbnail" 
                                 ng-hide="isValidSource(FilesToUpload[0])"
                                 src="{{ImagePreviewSrc1}}" 
                                 title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[0])" src="{{FilesToUpload[0]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton" 
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[0]" 
                               ng-change="showImagePreview(FilesToUpload[0],0)"
                               type="file"
                               id="image1" />
                    </div>
                </div>
                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image2">
                            <img class="thumbnail img-thumbnail" ng-hide="isValidSource(FilesToUpload[1])" src="{{ImagePreviewSrc2}}" title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[1])" src="{{FilesToUpload[1]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton" 
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[1]" 
                               ng-change="showImagePreview(FilesToUpload[1],1)"
                               type="file" 
                               id="image2"/>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image3">
                            <img class="thumbnail img-thumbnail" ng-hide="isValidSource(FilesToUpload[2])" src="{{ImagePreviewSrc3}}" title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[2])" src="{{FilesToUpload[2]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton"
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[2]" 
                               ng-change="showImagePreview(FilesToUpload[2],2)"
                               type="file"
                               id="image3" />
                    </div>
                </div>

                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image4">
                            <img class="thumbnail img-thumbnail" ng-hide="isValidSource(FilesToUpload[3])" src="{{ImagePreviewSrc4}}" title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[3])" src="{{FilesToUpload[3]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton"
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[3]" 
                               ng-change="showImagePreview(FilesToUpload[3],3)"
                               type="file" 
                               id="image4" />
                    </div>
                </div>
                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image5">
                            <img class="thumbnail img-thumbnail" ng-hide="isValidSource(FilesToUpload[4])" src="{{ImagePreviewSrc5}}" title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[4])" src="{{FilesToUpload[4]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton" 
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[4]" 
                               ng-change="showImagePreview(FilesToUpload[4],4)"
                               type="file" 
                               id="image5" />
                    </div>
                </div>
                <div class="form-group col-lg-4 col-sm-4 col-xs-6">
                    <div class="main-img-preview">
                        <label for="image6">
                            <img class="thumbnail img-thumbnail" ng-hide="isValidSource(FilesToUpload[5])" src="{{ImagePreviewSrc6}}" title="Click to upload">
                            <img class="thumbnail img-preview" ng-show="isValidSource(FilesToUpload[5])" src="{{FilesToUpload[5]}}" title="Click to upload">
                        </label>
                        <input class="hiddenbrowsebutton" 
                               accept="image/*" 
                               ngf-select
                               ng-model="FilesToUpload[5]" 
                               ng-change="showImagePreview(FilesToUpload[5],5)"
                               type="file" 
                               id="image6" />
                    </div>
                </div>

            </section>
        </div>

        <div class="row container">
            <section class="form-group" id="photosid">
                <h3 class="page-header">My details</h3>
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Phone Number" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <input type="text" placeholder="Password" class="form-control password" />
                        <input type="text" placeholder="Confirm Password" class="form-control password" />
                    </div>
                </div>
            </section>
        </div>

        <div class="row container">
            <div class="form-group">
                <div class="col-lg-4 col-sm-4 col-xs-6 col-centered">
                    <button id="button_submitad" class="btn btn-block btn-success" type="submit">SUBMIT AD</button>
                </div>
            </div>
        </div>
    </form>
</div>


