input, select, textarea {
    max-width: 80%;
   
}

.col-centered{
    float: none;
    margin: 0 auto;
}


#detailsid{
    margin-top: 30px;
}

.password {
    max-width: 30%;
    margin:0px 30px 0px 0px;
}

.page-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #b9afaf;
}

.thumbnail {
    border:none;
}

.hiddenbrowsebutton {
    opacity: 0;
    margin-top: -50px;
}

.img-preview {
    opacity: 0.5;
    width: 75%;
    height: 75%;
    margin-top:10px;
}
.form-control {
    border-radius: 0;
    font-size: 14px;
    line-height: 2.0;
}

#button_submitad {
    margin-top: 50px;
    border-radius: 0;
    padding: .25em 1em;
    line-height: 2em;
    font-size: 20px;
}




